:root{
  --mainBlue:#192A56;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body{
  font-family: "Oswald",sans-serif !important;
  background: var(--mainDark) !important;
  /* background: url("./components/img/gtQaSs9Js9.jpg") !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important; */
  color: var(--mainWhite) !important;
}

.text-title{
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright {
  color:var(--lightBlue);
}
